In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
from sqlalchemy import create_engine

In [3]:
engine = create_engine('mysql+pymysql://sebastieniron:Gsm0474083668@localhost:3306/stockdata')
sqlstr = 'select * from data2000'
data2000 = pd.read_sql_query(sqlstr, engine)

# 2000: Month Before & Month After

In [5]:
# Let's select data from a month before election day until a month after election day 7 November Tuesday.
# Tuesday 1st of October 1996 until Thursday 5rd December 1996

datamonth = data2000.loc[(data2000['Date'].str.startswith('2000-10'))|
                        (data2000['Date'].str.startswith('2000-11'))|
                        (data2000['Date'].str.startswith('2000-12-01'))|
                        (data2000['Date'].str.startswith('2000-12-04'))|
                        (data2000['Date'].str.startswith('2000-12-05'))|
                        (data2000['Date'].str.startswith('2000-12-06'))|
                        (data2000['Date'].str.startswith('2000-12-07'))]
datamonth

             Date    Open    High     Low   Close   Volume  OpenInt      Name
188    2000-10-02  33.159  34.684  33.159  34.132  3187668        0     \a.us
189    2000-10-03  34.427  37.465  33.959  35.857  5887512        0     \a.us
190    2000-10-04  35.696  39.571  35.439  39.071  5861142        0     \a.us
191    2000-10-05  39.113  39.113  36.873  37.210  4237385        0     \a.us
192    2000-10-06  37.674  37.761  34.556  35.231  2958348        0     \a.us
...           ...     ...     ...     ...     ...      ...      ...       ...
87538  2000-12-01  50.855  51.962  50.797  51.845   421039        0  \zion.us
87539  2000-12-04  51.645  51.788  50.049  51.385   288066        0  \zion.us
87540  2000-12-05  52.020  55.928  51.559  54.474   615399        0  \zion.us
87541  2000-12-06  54.474  55.928  53.253  53.773   560552        0  \zion.us
87542  2000-12-07  54.060  55.408  54.002  55.101   471209        0  \zion.us

[16850 rows x 8 columns]

In [10]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in datamonth['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = datamonth.loc[(datamonth['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2000-10-02')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2000-12-07')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [12]:
# Let's make a function that creates a dataframe out of the summary characteristics.
def DFcreation(names, beginprices, closeprices, meanclose, stdclose, volratios):
    df = pd.DataFrame()
    df['Ticker'] = names
    df['OpeningPrice'] = beginprices
    df['ClosingPrice'] = closeprices
    df['MeanPrice'] = meanclose
    df['StdPrice'] = stdclose
    df['%_VolatilityRatio'] = volratios
    df['OpeningPrice'] = df['OpeningPrice']
    df['%_Gain/Lose'] = ((df['ClosingPrice']-df['OpeningPrice'])/df['OpeningPrice'])*100
    return df

In [15]:
df = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
df = df[df.astype(str)['%_Gain/Lose'] != '[]']
df['%_Gain/Lose'] = df['%_Gain/Lose'].astype('float')
df['ClosingPrice'] = df['ClosingPrice'].astype('float')
df

,Ticker,OpeningPrice,ClosingPrice,MeanPrice,StdPrice,%_VolatilityRatio,%_Gain/Lose
0,\a.us,34.132,36.4540,32.184812,2.923466,9.083370,6.803000
1,\aa.us,50.755,60.6730,56.813021,3.990218,7.023422,19.540932
2,\aaba.us,43.03,17.4700,28.707083,7.275351,25.343400,-59.400418
3,\aapl.us,1.5521,0.9171,1.257217,0.130904,10.412216,-40.912312
4,\abc.us,11.163,9.4161,10.367702,0.608478,5.868975,-15.649019
...,...,...,...,...,...,...,...
348,\xom.us,36.408,35.2230,35.850750,0.891291,2.486115,-3.254779
349,\xray.us,11.037,11.6070,11.040396,0.437645,3.964029,5.164447
350,\xrx.us,51.042,14.8930,28.400271,6.536870,23.016929,-70.822068
351,\yum.us,4.8472,5.4578,4.895548,0.492755,10.065361,12.596963
352,\zion.us,47.717,55.1010,50.042625,2.661329,5.318124,15.474569

In [29]:
vol_month_mean = np.mean(df['%_VolatilityRatio'])
GL_month_mean = np.mean(df['%_Gain/Lose'])
print("The mean volatility ratio from 2000/10/02 until 2000/12/07:", round(vol_month_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2000/10/02 until 2000/12/07:", round(GL_month_mean, 2),"%",)

The mean volatility ratio from 2000/10/02 until 2000/12/07: 8.19 %
The mean Gain or Lose ratio 2000/10/02 until 2000/12/07: 0.69 %

# 2000: Week Before & Week After

In [17]:
dataweek = data2000.loc[(data2000['Date'].str.startswith('2000-10-31'))|
                        (data2000['Date'].str.startswith('2000-11-01'))|
                        (data2000['Date'].str.startswith('2000-11-02'))|
                        (data2000['Date'].str.startswith('2000-11-03'))|
                        (data2000['Date'].str.startswith('2000-11-04'))|
                        (data2000['Date'].str.startswith('2000-11-05'))|
                        (data2000['Date'].str.startswith('2000-11-06'))|
                        (data2000['Date'].str.startswith('2000-11-07'))|
                        (data2000['Date'].str.startswith('2000-11-08'))|
                        (data2000['Date'].str.startswith('2000-11-09'))|
                        (data2000['Date'].str.startswith('2000-11-10'))|
                        (data2000['Date'].str.startswith('2000-11-11'))|
                        (data2000['Date'].str.startswith('2000-11-12'))|
                        (data2000['Date'].str.startswith('2000-11-13'))|
                        (data2000['Date'].str.startswith('2000-11-14'))]
dataweek

             Date    Open    High     Low   Close   Volume  OpenInt      Name
209    2000-10-31  30.795  32.146  30.795  31.261  4146429        0     \a.us
210    2000-11-01  31.052  31.935  30.754  31.598  3600827        0     \a.us
211    2000-11-02  31.808  32.868  31.646  32.485  3637568        0     \a.us
212    2000-11-03  32.146  32.193  30.924  31.598  2518523        0     \a.us
213    2000-11-06  31.687  31.687  30.971  31.308  2506968        0     \a.us
...           ...     ...     ...     ...     ...      ...      ...       ...
87522  2000-11-08  53.176  53.867  52.357  53.639   557641        0  \zion.us
87523  2000-11-09  53.348  54.398  52.829  52.829   490533        0  \zion.us
87524  2000-11-10  53.039  53.348  51.894  52.010   450226        0  \zion.us
87525  2000-11-13  52.147  52.147  49.635  51.328   589846        0  \zion.us
87526  2000-11-14  51.239  52.147  50.567  50.682   282666        0  \zion.us

[3867 rows x 8 columns]

In [18]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataweek['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataweek.loc[(dataweek['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2000-10-31')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2000-11-14')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [20]:
dfweek = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfweek = dfweek[dfweek.astype(str)['%_Gain/Lose'] != '[]']
dfweek['%_Gain/Lose'] = dfweek['%_Gain/Lose'].astype('float')
dfweek['ClosingPrice'] = dfweek['ClosingPrice'].astype('float')

In [27]:
vol_week_mean = np.mean(dfweek['%_VolatilityRatio'])
GL_week_mean = np.mean(dfweek['%_Gain/Lose'])
print("The mean volatility ratio from 2000/10/31 until 2000/11/14:", round(vol_week_mean, 2),"%",
      "\nThe mean Gain or Lose ratio from 2000/10/31 until 2000/11/14:", round(GL_week_mean, 2),"%",)

The mean volatility ratio from 2000/10/31 until 2000/11/14: 3.36 %
The mean Gain or Lose ratio from 2000/10/31 until 2000/11/14: -1.4 %

# 2000: Day Before & Day After

In [26]:
dataday = data2000.loc[(data2000['Date'].str.startswith('2000-11-06'))|
                        (data2000['Date'].str.startswith('2000-11-07'))|
                        (data2000['Date'].str.startswith('2000-11-08'))]
dataday

,Date,Open,High,Low,Close,Volume,OpenInt,Name
213,2000-11-06,31.6870,31.6870,30.9710,31.3080,2506968,0,\a.us
214,2000-11-07,30.7950,31.2610,30.7540,31.0120,2322237,0,\a.us
215,2000-11-08,31.0120,31.8960,29.6620,29.9580,2528744,0,\a.us
464,2000-11-06,57.9410,60.5550,57.5440,59.9040,1181416,0,\aa.us
465,2000-11-07,59.1080,60.5550,58.8610,60.2980,1256274,0,\aa.us
...,...,...,...,...,...,...,...,...
87270,2000-11-07,4.8472,4.8599,4.7278,4.7970,1767389,0,\yum.us
87271,2000-11-08,4.7907,4.7970,4.7149,4.7591,1222521,0,\yum.us
87520,2000-11-06,53.4050,54.1000,52.3760,53.7530,374913,0,\zion.us
87521,2000-11-07,53.5510,53.8670,52.6360,53.2900,355589,0,\zion.us
87522,2000-11-08,53.1760,53.8670,52.3570,53.6390,557641,0,\zion.us

In [30]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataday['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataday.loc[(dataday['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2000-11-06')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2000-11-08')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [31]:
dfday = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfday = dfday[dfday.astype(str)['%_Gain/Lose'] != '[]']
dfday['%_Gain/Lose'] = dfday['%_Gain/Lose'].astype('float')
dfday['ClosingPrice'] = dfday['ClosingPrice'].astype('float')

In [34]:
vol_day_mean = np.mean(dfday['%_VolatilityRatio'])
GL_day_mean = np.mean(dfday['%_Gain/Lose'])
print("The mean volatility ratio from 2000/11/06 until 2000/11/08:", round(vol_day_mean, 2),"%",
      "\nThe mean Gain or Lose ratio from 2000/11/06 until 2000/11/08:", round(GL_day_mean, 2),"%",)

The mean volatility ratio from 2000/11/06 until 2000/11/08: 1.55 %
The mean Gain or Lose ratio from 2000/11/06 until 2000/11/08: -0.41 %

In [35]:
df2000 = pd.DataFrame()
df2000['Year'] = [2000,2000,2000]
df2000['Period'] = ['Day','Week','Month']
df2000['%_Vol_Mean'] = [vol_day_mean,vol_week_mean,vol_month_mean]
df2000['%_GainLose_Mean'] = [GL_day_mean,GL_week_mean,GL_month_mean]
df2000

   Year Period  %_Vol_Mean  %_GainLose_Mean
0  2000    Day    1.548080        -0.412878
1  2000   Week    3.362585        -1.403686
2  2000  Month    8.192331         0.693064

In [36]:
df2000.to_csv('df2000.csv', index=False)