In [14]:
to_string = ['John', 'was', 'a', 'man', 'of', 'many', 'talents']

def list2string(inputlist):
    string = ' '.join(inputlist)
    return string

print(list2string(to_string))

# def smallest_possible_function():
#     pass

'John was a man of many talents'

In [15]:
# fucntions can have more than 1 parameter
def list2string(x, y):
    string = ' '.join(x) * y
    return string
print('*'+list2string(to_string, 2)+'*')

*John was a man of many talentsJohn was a man of many talents*

In [29]:
a = 9

def multiply(number,multiplier=2):
    b = number * multiplier
    #print('number =', number)
    return b

c = multiply(a,5)

print("a:", a, "c:", c)
#print("a:", a, "c:", multiply(a,5))

a: 9 c: 45

In [26]:
print(number)

NameError: name 'number' is not defined

In [ ]:
#function to, given an integer input, add the number 1...number

In [27]:
#you can explicitly name parameters in the function call to change the order
multiply(multiplier=5, number=100)

500

In [38]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
weekend = ['Saturday', 'Sunday']

def get_first_three_elements(jan):
    if len(jan)>=3:
        # can only return one 'thing', in this case we return a tuple
        return [jan[0],jan[1],jan[2]]
    else:
        # there are better ways to signal that an eror has occurred
        return ('error', 'error', 'error')

print (get_first_three_elements(weekdays))

print (get_first_three_elements(weekend))


day1, day2, day3 = get_first_three_elements(weekdays)

# equivalent to 
# (day1, day2, day3) = get_first_three_elements(weekdays)


print(day3)
print(day2)
day1="Friday"
print(day1)

['Monday', 'Tuesday', 'Wednesday']
('error', 'error', 'error')
Wednesday
Tuesday
Friday

In [40]:
import pandas as pd

data = pd.read_csv('./vehicles.csv')
# data
def get_means(df):
    numeric = df._get_numeric_data()
    means = pd.DataFrame(numeric.mean()).reset_index()
    means.columns = ['Column', 'Mean']
    return means

mean_df = get_means(data)
mean_df

                    Column         Mean
0                     Year  2000.716400
1      Engine Displacement     3.338493
2                Cylinders     5.765076
3        Fuel Barrels/Year    17.609056
4                 City MPG    17.646139
5              Highway MPG    23.880646
6             Combined MPG    19.929322
7  CO2 Emission Grams/Mile   475.316339
8           Fuel Cost/Year  1892.598465