In [12]:
def half(x):
    return x / 2

In [21]:
l = [10, 12, 34, 23]
map(half, l)

In [19]:
list(map(half, l))

[5.0, 6.0, 17.0, 11.5]

In [15]:
for x in map(half,l):
    print(x)

5.0
6.0
17.0
11.5

In [17]:
#alternative way to produce list(map(half, l))
lst =[]
for x in l:
    y=x/2
    lst.append(y)
print(lst)
lst2 = [x/2 for x in l]
print(lst2)

[5.0, 6.0, 17.0, 11.5]
[5.0, 6.0, 17.0, 11.5]

In [24]:
import numpy as np
ar = np.random.random(4)
ar

array([0.20328763, 0.79113805, 0.70717937, 0.68792683])

In [25]:
def greaterpoint5(x):
    return x > 0.5

list(filter(greaterpoint5,ar))

[0.7911380531949784, 0.7071793670392148, 0.6879268317559694]

In [30]:
names = ['tushaar', 'svetlana', 'iswetha', 'iryna', 'alex', 'laurann','sebastien', 'michelle', 'erin','jan']

def cap(x):
    return x.capitalize()

list(map(cap,names))
#list(map(str.capitalize,names))

['Tushaar',
 'Svetlana',
 'Iswetha',
 'Iryna',
 'Alex',
 'Laurann',
 'Sebastien',
 'Michelle',
 'Erin',
 'Jan']

In [31]:
l = [10, 12, 34, 23]
filter(lambda x: x % 2 == 1, l)

In [32]:
list(filter(lambda x: x % 2 == 1, l))

[23]

In [34]:
#alternative way to produce this list:
[x for x in l if x % 2 == 1]

[23]

In [35]:
list(map(lambda x: x % 2 == 1, l))

[False, False, False, True]

In [37]:
summation = lambda a, b: a + b

In [38]:
from functools import reduce

reduce(summation, l)

79

In [39]:
reduce(lambda a, b: a if a > b else b, l)

34

In [41]:
#alternative way to add all numbers in a list:
max(l)

34

In [ ]:
# apply function to elements of a list: ---^ (map,reduce,filter)
# *****************
# apply functions to fields in rows or columns of a dataframe ---v  (apply)

In [51]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0 -0.035746  0.248408  1.343514
1 -0.648187  0.194240  1.249086
2 -1.015521 -1.103435  1.903807
3 -0.325759  0.325538 -0.413211

In [52]:
df[['a']]

          a
0 -0.035746
1 -0.648187
2 -1.015521
3 -0.325759

In [53]:
df.apply(half)
#df/2

          a         b         c
0 -0.017873  0.124204  0.671757
1 -0.324093  0.097120  0.624543
2 -0.507761 -0.551717  0.951903
3 -0.162879  0.162769 -0.206606

In [58]:
def range_func(x):
    return max(x) - min(x)
df

          a         b         c
0 -0.035746  0.248408  1.343514
1 -0.648187  0.194240  1.249086
2 -1.015521 -1.103435  1.903807
3 -0.325759  0.325538 -0.413211

In [59]:
df.apply(range_func, axis=0)
df.max() - df.min()

a    0.979776
b    1.428973
c    2.317018
dtype: float64

In [61]:
df.apply(range_func, axis=1)
df.max(axis=1) - df.min(axis=1)

0    1.379259
1    1.897273
2    3.007242
3    0.738750
dtype: float64

In [62]:
l1 = [1,2,3,4,5]
l2 = ['a','b','c','d','e']

list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [64]:
# for num,name in zip(l1, l2):
#     print ('num: '+str(num)+' name: '+name)

for num,name in zip(map(half, l1), l2):
    print ('num: '+str(num)+' name: '+name)

num: 0.5 name: a
num: 1.0 name: b
num: 1.5 name: c
num: 2.0 name: d
num: 2.5 name: e