In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
from sqlalchemy import create_engine

In [252]:
engine = create_engine('mysql+pymysql://sebastieniron:Gsm0474083668@localhost:3306/stockdata')
sqlstr = 'select * from data1992'
data1992 = pd.read_sql_query(sqlstr, engine)

# 1992: Month Before & Month After

In [262]:
# Let's select data from a month before election day until a month after election day.
# Monday 5th october 1992 until Thursday 3rd december 1992

datamonth = data1992.loc[(data1992['Date'].str.startswith('1992-10'))|
                        (data1992['Date'].str.startswith('1992-11'))|
                        (data1992['Date'].str.startswith('1992-12-01'))|
                        (data1992['Date'].str.startswith('1992-12-02'))|
                        (data1992['Date'].str.startswith('1992-12-03'))]
datamonth

,Date,Open,High,Low,Close,Volume,OpenInt,Name
190,1992-10-01,14.9500,14.9910,14.6980,14.7410,532587,0,\aa.us
191,1992-10-02,14.7830,14.7830,14.3850,14.5110,951760,0,\aa.us
192,1992-10-05,14.3440,14.4690,14.1140,14.4270,1890495,0,\aa.us
193,1992-10-06,14.5110,14.5540,14.3650,14.5320,1290853,0,\aa.us
194,1992-10-07,14.5320,14.5320,14.3850,14.4480,828001,0,\aa.us
...,...,...,...,...,...,...,...,...
67405,1992-11-27,7.3157,7.3640,7.2101,7.3157,80613,0,\zion.us
67406,1992-11-30,7.2101,7.3640,7.2101,7.2101,136295,0,\zion.us
67407,1992-12-01,7.3352,7.3352,7.2101,7.2101,526060,0,\zion.us
67408,1992-12-02,7.2101,7.3352,7.2101,7.3352,126325,0,\zion.us
67409,1992-12-03,7.2871,7.2871,7.1427,7.1427,61496,0,\zion.us

In [263]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in datamonth['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = datamonth.loc[(datamonth['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='1992-10-01')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='1992-12-03')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [264]:
# Let's make a function that creates a dataframe out of the summary characteristics.
def DFcreation(names, beginprices, closeprices, meanclose, stdclose, volratios):
    df = pd.DataFrame()
    df['Ticker'] = names
    df['OpeningPrice'] = beginprices
    df['ClosingPrice'] = closeprices
    df['MeanPrice'] = meanclose
    df['StdPrice'] = stdclose
    df['%_VolatilityRatio'] = volratios
    df['OpeningPrice'] = df['OpeningPrice']
    df['%_Gain/Lose'] = ((df['ClosingPrice']-df['OpeningPrice'])/df['OpeningPrice'])*100
    return df

In [265]:
DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)

,Ticker,OpeningPrice,ClosingPrice,MeanPrice,StdPrice,%_VolatilityRatio,%_Gain/Lose
0,\aa.us,14.741,15.826,15.169111,0.486695,3.208460,7.36042
1,\aapl.us,1.4162,1.8414,1.661044,0.164811,9.922134,30.024
2,\abt.us,4.6392,5.0521,4.832429,0.194631,4.027592,8.90024
3,\abx.us,13.061,12.758,12.803422,0.489569,3.823737,-2.31988
4,\adbe.us,1.66,2.1,1.919333,0.204835,10.672190,26.506
...,...,...,...,...,...,...,...
266,\xlnx.us,1.2231,1.4778,1.318916,0.127099,9.636651,20.8241
267,\xom.us,12.351,11.388,11.780733,0.320561,2.721062,-7.79694
268,\xray.us,5.2676,6.7413,5.741520,0.689249,12.004638,27.9767
269,\xrx.us,42.275,42.685,42.243733,0.692333,1.638901,0.96984
270,\zion.us,5.9393,7.1427,6.394109,0.507184,7.932045,20.2616

In [277]:
# df = df.drop([23,190,214])
# dfvol = df.sort_values(by=['%_VolatilityRatio'], ascending=False)
# dfgainlose = df.sort_values(by=['%_Gain/Lose'], ascending=False)

In [208]:
vol_month_mean = np.mean(df['%_VolatilityRatio'])
GL_month_mean = np.mean(df['%_Gain/Lose'])
print("The mean volatility ratio from 1992/10/01 until 1992/12/03:", round(vol_month_mean, 2),"%",
      "\n The mean Gain or Lose ratio from 1992/10/01 until 1992/12/03:", round(GL_month_mean, 2),"%",)

The mean volatility ratio from 1992/10/01 until 1992/12/03: 5.29 %
 The mean Gain or Lose ratio from 1992/10/01 until 1992/12/03: 10.26 %

# 1992: Week Before & Week After

In [272]:
# Let's select data from a week before election day until a week after election day.
# Tuesday 27 October 1992 until Tuesday 10 November 1992

dataweek = data1992.loc[(data1992['Date'].str.startswith('1992-10-27'))|
                        (data1992['Date'].str.startswith('1992-10-28'))|
                        (data1992['Date'].str.startswith('1992-10-29'))|
                        (data1992['Date'].str.startswith('1992-10-30'))|
                        (data1992['Date'].str.startswith('1992-10-31'))|
                        (data1992['Date'].str.startswith('1992-11-01'))|
                        (data1992['Date'].str.startswith('1992-11-02'))|
                        (data1992['Date'].str.startswith('1992-11-03'))|
                        (data1992['Date'].str.startswith('1992-11-04'))|
                        (data1992['Date'].str.startswith('1992-11-05'))|
                        (data1992['Date'].str.startswith('1992-11-06'))|
                        (data1992['Date'].str.startswith('1992-11-07'))|
                        (data1992['Date'].str.startswith('1992-11-08'))|
                        (data1992['Date'].str.startswith('1992-11-09'))|
                        (data1992['Date'].str.startswith('1992-11-10'))]
dataweek

,Date,Open,High,Low,Close,Volume,OpenInt,Name
208,1992-10-27,15.5970,15.5970,15.2830,15.2830,1142189,0,\aa.us
209,1992-10-28,15.2830,15.8260,15.2830,15.7220,1449097,0,\aa.us
210,1992-10-29,15.7220,15.8060,15.7220,15.7430,1212690,0,\aa.us
211,1992-10-30,15.7430,15.7430,15.5770,15.6810,764779,0,\aa.us
212,1992-11-02,15.6190,15.7850,15.5770,15.7220,1347943,0,\aa.us
...,...,...,...,...,...,...,...,...
67390,1992-11-04,6.2956,6.2956,6.1224,6.1513,29088,0,\zion.us
67391,1992-11-05,6.1513,6.4208,6.1513,6.4208,175353,0,\zion.us
67392,1992-11-06,6.4208,6.5938,6.4208,6.4690,278404,0,\zion.us
67393,1992-11-09,6.6710,6.8925,6.6710,6.8057,1001427,0,\zion.us
67394,1992-11-10,6.7481,6.7481,6.6903,6.6903,49864,0,\zion.us

In [273]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataweek['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataweek.loc[(dataweek['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='1992-10-27')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='1992-11-10')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [276]:
dfweek = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
# dfweek = dfweek.drop([44,164,190,214,243,270])
dfweek
dfweek[dfweek.astype(str)['OpeningPrice'] != '[]']

,Ticker,OpeningPrice,ClosingPrice,MeanPrice,StdPrice,%_VolatilityRatio,%_Gain/Lose
0,\aa.us,15.283,15.305,15.593182,0.162964,1.045097,0.143951
1,\aapl.us,1.6496,1.8005,1.712645,0.052345,3.056393,9.14767
2,\abt.us,4.7447,4.6433,4.712173,0.082715,1.755340,-2.13712
3,\abx.us,12.841,12.456,13.068455,0.293659,2.247086,-2.99821
4,\adbe.us,2.02,2.19,2.134545,0.084139,3.941767,8.41584
...,...,...,...,...,...,...,...
265,\x.us,23.093,25.397,23.140000,0.950507,4.107634,9.97705
266,\xlnx.us,1.2059,1.452,1.324727,0.062536,4.720699,20.408
267,\xom.us,12.156,11.412,11.680818,0.298525,2.555684,-6.12043
268,\xray.us,5.2676,6.2501,5.728173,0.375368,6.553008,18.6518
269,\xrx.us,41.728,41.26,41.279364,0.313166,0.758650,-1.12155

In [248]:
vol_week_mean = np.mean(dfweek['%_VolatilityRatio'])
GL_week_mean = np.mean(dfweek['%_Gain/Lose'])
print("The mean volatility ratio from 1992/10/27 until 1992/11/10:", round(vol_week_mean, 2),"%",
      "\nThe mean Gain or Lose ratio from 1992/10/27 until 1992/11/10:", round(GL_week_mean, 2),"%",)

The mean volatility ratio from 1992/10/27 until 1992/11/10: 2.08 %
The mean Gain or Lose ratio from 1992/10/27 until 1992/11/10: 2.66 %

# 1992: Day before & Day after

In [226]:
datadays = data1992.loc[(data1992['Date'].str.startswith('1992-11-02'))|
                        (data1992['Date'].str.startswith('1992-11-03'))|
                        (data1992['Date'].str.startswith('1992-11-04'))]
datadays

,Date,Open,High,Low,Close,Volume,OpenInt,Name
212,1992-11-02,15.6190,15.7850,15.5770,15.7220,1347943,0,\aa.us
213,1992-11-03,15.7220,15.7850,15.7010,15.7430,677803,0,\aa.us
214,1992-11-04,15.7010,15.7850,15.7010,15.7010,274724,0,\aa.us
466,1992-11-02,1.6800,1.6892,1.6570,1.6725,47436438,0,\aapl.us
467,1992-11-03,1.6800,1.6800,1.6496,1.6648,31444182,0,\aapl.us
...,...,...,...,...,...,...,...,...
67144,1992-11-03,41.2600,41.4650,41.1190,41.3350,155107,0,\xrx.us
67145,1992-11-04,41.1850,41.4650,41.0590,41.4020,233991,0,\xrx.us
67388,1992-11-02,6.1992,6.1992,6.0260,6.1033,482013,0,\zion.us
67389,1992-11-03,6.1224,6.2764,6.0452,6.2474,247655,0,\zion.us
67390,1992-11-04,6.2956,6.2956,6.1224,6.1513,29088,0,\zion.us

In [227]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in datadays['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = datadays.loc[(datadays['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = datadays.loc[(datadays['Name']==stockname) &
                           (datadays['Date']=='1992-11-02')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = datadays.loc[(datadays['Name']==stockname) &
                           (datadays['Date']=='1992-11-04')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [235]:
dfdays = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
# LOOK FOR EMPTY VALUES
dfdays

,Ticker,OpeningPrice,ClosingPrice,MeanPrice,StdPrice,%_VolatilityRatio,%_Gain/Lose
0,\aa.us,15.7220,15.7010,15.722000,0.017146,0.109060,-0.133571
1,\aapl.us,1.6725,1.6800,1.672433,0.006206,0.371049,0.448430
2,\abt.us,4.8903,4.6433,4.774167,0.101374,2.123388,-5.050815
3,\abx.us,13.0610,13.4900,13.331333,0.192115,1.441080,3.284588
4,\adbe.us,2.1000,2.0800,2.066667,0.033993,1.644845,-0.952381
...,...,...,...,...,...,...,...
266,\xlnx.us,1.3248,1.2910,1.310667,0.014343,1.094312,-2.551329
267,\xom.us,11.6720,11.5980,11.598667,0.059606,0.513905,-0.633996
268,\xray.us,5.5372,5.6913,5.649600,0.080356,1.422326,2.782995
269,\xrx.us,41.4020,41.4020,41.379667,0.031584,0.076328,0.000000
270,\zion.us,6.1033,6.1513,6.167333,0.059911,0.971426,0.786460

In [237]:
vol_day_mean = np.mean(dfdays['%_VolatilityRatio'])
GL_day_mean = np.mean(dfdays['%_Gain/Lose'])
print("The mean volatility ratio from 1992/11/02 until 1992/11/04:", round(vol_day_mean, 2),"%",
      "\nThe mean Gain or Lose ratio from 1992/11/02 until 1992/11/04:", round(GL_day_mean, 2),"%",)

The mean volatility ratio from 1992/11/02 until 1992/11/04: 1.03 %
The mean Gain or Lose ratio from 1992/11/02 until 1992/11/04: -0.62 %

In [250]:
df1992 = pd.DataFrame()
df1992['Year'] = [1992,1992,1992]
df1992['Period'] = ['Day','Week','Month']
df1992['%_Vol_Mean'] = [vol_day_mean,vol_week_mean,vol_month_mean]
df1992['%_GainLose_Mean'] = [GL_day_mean,GL_week_mean,GL_month_mean]
df1992

   Year Period  %_Vol_Mean  %_GainLose_Mean
0  1992    Day    1.032608        -0.615320
1  1992   Week    2.084613         2.659511
2  1992  Month    5.288556        10.262123

In [251]:
df1992.to_csv('df1992.csv', index=False)