In [25]:
import pandas as pd

scores_jan = [3,4,3,4,2,4,5]
scores_erin = [4,4,3,5,3,4,4]
scores = []
colnames = ['Jan','Erin']

scores.append(scores_jan)
scores.append(scores_erin)

# create a dataframe with these scores in two columns for jan and erin, 
# without retyping (or copy-pasting) the scores
# calculate the average scores for each from the dataframe

scores_df = pd.DataFrame(scores, colnames)
scores_df2 = scores_df.transpose()
print(scores_df2.mean())
scores_df2

Jan     3.571429
Erin    3.857143
dtype: float64

   Jan  Erin
0    3     4
1    4     4
2    3     3
3    4     5
4    2     3
5    4     4
6    5     4